.general {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 10vh;
  margin-left: 22%;
  margin-right: 11%;
  height: 120px;
}

h2.name {
  left: 6%;
  position: absolute;
  top: 8%;
}
h2.age {
  position: absolute;
  left: 42%;
  top: 8%;
}

h2.gender {
  position: absolute;
  right: 7%;
  top: 8%;
}

h2.star {
  position: absolute;
  top: 52%;
  right: 42%;
}

h2.nationality {
  position: absolute;
  top: 53%;
  left: 6%;
}

h2.city {
  position: absolute;
  right: 7%;
  top: 51%;
}

.about-header {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1%;
  margin-top: 6vh;
  margin-left: 22%;
  margin-right: 11%;
}
.pic {
  position: absolute;
  left: -7vw;
}

.about-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 25px;
}

.bio {
  font-size: 17px;
  margin-bottom: 1%;
}

.hobbies-heading {
  font-size: 25px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hobbies {
  font-size: 17px;
  margin-bottom: 1%;
}

.coding-heading {
  text-transform: uppercase;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coding {
  font-size: 17px;
  margin-bottom: 1%;
}

#fun-facts {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-right: 11%;
  margin-left: 22%;
  margin-top: 6vh;
  padding: 1%;
  flex-direction: row;
}

.fun-fact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 25px;
}

#book-icon {
  padding-right: 1%;
  padding-left: 1%;
}

#globe-icon {
  padding-right: 1%;
  padding-left: 1%;
}


#cup-icon {
  padding-right: 1%;
}

#music-icon {
  padding-right: 1%;
}

#testimonial-section {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-right: 11%;
  margin-left: 22%;
  height: 500px;
}

.testiomials {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1%;
  position: absolute;
}

.testiomial-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jason {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 41%;
  left: 6%;
}

.position-j {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
    top: 47%;
    left: 6%;
}

.img-j {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 10%;
  left: 6%;
}

.testimonial-j {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 53%;
    padding-left: 7%;
    padding-right: 8%
}

.godwin {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
    top: 41%;
    left: 39%;
}

.position-g {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 47%;
  position: absolute;
}

.img-g {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  top: 10%;
  position: absolute;
}

.testimonial-g {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60%;
  padding-left: 7%;
}

.ron {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 41%;
  right: 5%;
}

.position-r {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
    top: 47%;
    right: 3%;
}

.img-r {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 9%;
  right: 6%;
}

.testimonial-r {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64%;
    padding-left: 29%;
    padding-right: 13%;
}

.social-icons {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.social-icons:hover {
  color: #a1d286;
  background-color: white;
}
