#about-me {
  height: 100vh;
}

.about-header {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2%;
  margin-top: 52vh;
  margin-left: 26%;
  margin-right: 5%;
}
.pic {
  height: 80vh;
  width: 60vh;
  left: 5px;
  top: 54vw;
  position: absolute;
}

.about-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 30px;
}

.bio {
  font-size: 19px;
  margin-bottom: 1%;
}

.hobbies-heading {
  font-size: 30px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hobbies {
  font-size: 19px;
  margin-bottom: 1%;
}

.coding-heading {
  text-transform: uppercase;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coding {
  font-size: 19px;
  margin-bottom: 1%;
}

#fun-facts {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px;
  margin-right: 6%;
  margin-left: 27%;
  margin-top: 9vh;
  padding: 2%;
  flex-direction: row;
}

.fun-fact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
}

#book-icon {
  padding-right: 1%;
}

.books {
}

#globe-icon {
  padding-right: 1%;
}

.countries {
}

#cup-icon {
  padding-right: 1%;
}

.tea {
}

#music-icon {
  padding-right: 1%;
}

.music {
}

.testiomials {
  font-size: 30px;
  position: absolute;
  top: 100vw;
  left: 50vw;
  text-transform: uppercase;
}

#testiomial-1 {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.jason {
  position: absolute;
  top: 115vw;
  left: 16vw;
}

.position-j {
  position: absolute;
  top: 117vw;
  left: 16vw;
}

.img-j {
  position: absolute;
  top: 104vw;
  left: 16vw;
}

.testimonial-j {
  position: absolute;
  top: 119vw;
  left: 16vw;
  margin-right: 65%;
}

.godwin {
  position: absolute;
  top: 115vw;
  right: 42vw;
}

.position-g {
  position: absolute;
  top: 117vw;
  right: 42vw;
}

.img-g {
  position: absolute;
  border-radius: 50%;
  top: 104vw;
  right: 42vw;
}

.testimonial-g {
  position: absolute;
  top: 119vw;
  left: 42vw;
  margin-right: 40%;
}

.ron {
  position: absolute;
  top: 115vw;
  right: 20vw;
}

.position-r {
  position: absolute;
  top: 117vw;
  right: 19vw;
}

.img-r {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 104vw;
  right: 20vw;
}

.testimonial-r {
  position: absolute;
  top: 119vw;
  left: 66vw;
  margin-right: 15%;
}

.social-icons {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.social-icons:hover {
  color: #a1d286;
  background-color: white;
}
