@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a1d286;
  font-family: "PT Sans", sans-serif;
}

.landing-header {
  display: flex;
  justify-content: center;
  padding: 10px;
  bottom: 0;
}

.landing-description {
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing {
  background-color: #a1d286;
  height: 100vh;
}

.landing-img {
  position: relative;
  left: 20vw;
}

.social-icons {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.social-icons:hover {
  color: #a1d286;
  background-color: white;
}
